Repository dev-Dive/StudyLog, pull requests merged in 2023-10, with the labels that each got.

#12 [chore] 스키마 작성
  backend/src/main/resources/db/schema.sql
Labels: 📦 chore, 💙 backend

#25 SL-188-Filter-제거-기능
  backend/src/main/java/com/devdive/backend/security/config/builder/HttpSecurity.java
  backend/src/main/java/com/devdive/backend/security/config/builder/configur/AbstractSecurityConfigurer.java
Labels: 🌟 feature, 💙 backend

#24 [docs] 스키마 생성일 수정일 추가
  backend/src/main/resources/db/schema.sql
Labels: 📄 document, 💙 backend
